body {
    font-family: Arial, Helvetica, sans-serif;
}

#row2{
    margin-top: 3%;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: rgba(138, 138, 138, 0.548);
    height: 120px;
    border-radius: 5px;
}
#row2 input{
    border-radius: 3px;
}

#row1 {
    margin-top: 5%;
}
#row3{
    margin-top: 5%;
}
#row3 table{
    margin-top: 3%;
}

.my-nav{
    
    margin-left: 8%;
    box-sizing: border-box;
    padding: 20px;
    height:12vh;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline;
}

#wrongDate {
   visibility: hidden;
}

  
#confirm-modal{
    left: 0;
    top: 0;
    position: fixed;
    z-index:2;
    height:100vh;
    width:100%;
    background-color: rgba(240, 240, 240, 0.75);  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .confirm-box{
    padding: 20px;
    border-radius: 10px;
    border: 1px black solid;
    background-color:  rgba(240, 240, 240, 1); ;
    font-size:111%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .confirm-box div button{
    margin:10px;
  }