#topNav {
    margin-top: 50px;
    padding: 12px;
    background-color:rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
}

#searchContainer {
    margin-right: 50%;
}

#back {
    color: white;
    background-color: black;
}

#patientsList {
    margin-top: 20px;
}

#userIcon {
    font-size: 25px;
    color: gray;
    margin-right: 15px;
}