#patientInfo {
    display: flex;
    padding: 30px;
}

#patientInfoLeft {
    display: flex;
    width: 60%;
}

#userIcon {
    font-size: 120px;
    color: rgb(192, 192, 192);
    margin-left: 20px;
}

#patientData {
    margin-left: 25px;
    margin-top: 7px;
    font-size: 18px;
}

mark.green {
    color: green;
    background-color: transparent;
}

#medicalRecord {
    margin-left: 50px;
    width: 180%;
}

h1 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#medicalRecordData {
    margin-left: 30px;
    font-size: 18px;
    color: rgb(95, 95, 95);
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#final_button {
    display: flex;
    flex-direction: row-reverse;
}

#realTimeInfo {
    font-size: 20px;
    width: 170px;
    height: 50px;
    border-color: black;
    background-color: rgb(236, 233, 233);
    margin-left: 12%;
}

#backToPatientsList {
    margin-right: 5%;
    background-color: black;
    width: 130px;
}

#medicationBar {
    margin-top: 50px;
    padding: 12px;
    background-color:rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
}

#medicationsList {
    margin-top: 20px;
}