html,
body {
  height: 100%;
  background-image: linear-gradient(rgba(190, 184, 184, 0.5),rgb(255,255,255,0.5)) ,url(../imgs/Healthcare-Technology.jpg);
}


body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


.login-card{
  padding:15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;

}


.form-control{
    margin-bottom: 10px;
}