html,
body {
  height: 100%;
  
}


body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.login-card{
  padding:15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}



.form-control{
    margin-bottom: 10px;
}


#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  background-image: linear-gradient(rgba(190, 184, 184, 0.4),rgb(255,255,255,0.4)) ,url(../imgs/Healthcare-Technology.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
} 

