.my-nav{
    width:100%;
    box-sizing: border-box;
    padding: 20px;
    height:12vh;
    background-color: rgba(220, 220, 220, 0.7);

}

#center-grid{
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height: 88vh;
   
}


#requests-card{
    height:90%;
    width:50%;
    background-color: rgba(240, 240, 240, 0.9);
    display:flex;
   
}

#requests-card h1{
    margin: 1000px;
}

#chat-card{
    height:90%;
    width:45%;
    box-sizing: border-box;
    background-color:#d1d0d0;
}

.display-card{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2%;
   align-items:flex-start;
    justify-content: flex-start;
}

#chat-screen{
    height:80%;
    width:100%;
    background-color: white;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

}

#chat-control{
    margin-top:10px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.chat-message{
    width:50%;
    padding: 10px;
    border-radius: 10px;
    margin:10px;
    background-color: #d1cdcd;
}

.chat-left{
    display:flex;
    flex-direction: row;
}

.chat-right{
    display:flex;
    flex-direction: row-reverse;
}

.chat-message .chat-content{
    letter-spacing: 0.05em;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 0.3rem;
    overflow-wrap: break-word;
}

.chat-message h6{
    letter-spacing: 0.05em;
    color:rgb(87, 87, 221);
    margin-bottom:0.35rem;
    overflow-wrap: break-word;
}

.chat-message .send-data{
    color:green;
    font-weight: 700;
    margin-bottom:0.2rem;
    font-size:12px;

}

input{
    width:80%;
}

.fa-check{
    color:green
}

.table-row:hover{
    background-color: rgba(220, 220, 220, 0.7);
}



#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
  }
  
  #particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
  }
