#topNav {
    margin-top: 50px;
    padding: 12px;
    background-color:rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#searchContainer {
    margin-right: 50%;
}

#backToAdminPage {
    color: white;
    background-color: black;
}

#selectOptions {
    width: 60%;
    border-color: black;
}
