#list {
    margin-top: 20px;
}

#list th {
    text-align: center;
    background-color: rgb(23, 151, 151);
}

#list tr:nth-child(even) {
    background-color: rgb(214, 214, 214);
}

#list tr:hover {
    background-color: rgb(189, 245, 239);
}

tbody {
    border-color: black;
    text-align: center;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

#userIcon {
    font-size: 25px;
    color: gray;
    margin-right: 15px;
}