.my-nav{
    width:100%;
    box-sizing: border-box;
    padding: 20px;
    height:12vh;
    background-color: rgba(220, 220, 220, 0.7);
}

#center-grid{
    display: flex;
    box-sizing: border-box;
    padding: 8%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 88vh;
    
}

.display-card{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5%;
   
    justify-content: center;
}

.send-form-control{
    margin-top:5px;
}

.contact-detail{
    display:flex;
    flex-direction: row;
   
    
}


.contact-detail>i{
    padding-top:5px;
    margin-right:5px;
}

#message-card{
    height: 100%;
    width:70%;
    background-color:#dddddd;
}
#info-card{
    height:100%;
    width:30%;
    background-color:#cccccc;
}

.pulse {
    overflow: visible;
    position: relative;
}
.pulse:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s;
    animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: 1;
}
  @keyframes pulse-animation {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }



  #particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
  }
  
  #particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
  }