#topNav {
    margin-top: 50px;
    padding: 12px;
    background-color:rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
}

#searchContainer {
    margin-right: 50%;
}

#backToDoctorPage {
    color: white;
    background-color: black;
}